.fromMyFriend {
  background-color: var(--maximum-blue-purple);
}

.fromMe {
  background-color: var(--light-steel-blue);
}

.fromMe,
.fromMyFriend {
  border-radius: 0.5em;
  padding: 1em;
  border: 1px solid var(--charcoal);
}
